<mat-toolbar>
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon class="mat-18">menu</mat-icon>
  </button>
  <span>Versus Live</span>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-list role="list">
      <div *ngFor="let m of menu">
        <mat-list-item role="listitem" *ngIf="m.visible">
          <a mat-button [routerLink]="[m.link]" routerLinkActive="router-link-active">{{m.name}}</a>
        </mat-list-item>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="!user.uid">
        <a mat-button [routerLink]="['login']" routerLinkActive="router-link-active">Login</a>
      </mat-list-item>
      <mat-list-item *ngIf="user.uid">
        <img matCardAvatar class="circle-img" [src]="user.photoURL" width="30px">{{user.displayName}}
      </mat-list-item>
      <mat-list-item *ngIf="user.uid">
        <button mat-button color="warn" (click)="logout()">Logout</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
