/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-card{
  width: 80vw;
}
.center {
  margin: auto;
  text-align: center;
}
.circle-img{
  border-radius: 50%;
  margin-right: 5px;
}
